{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{% block title%} {% endblock %}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'img/favicon.png'%}" rel="icon">
  <link href="{% static 'img/apple-touch-icon.png'%}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css'%}" rel="stylesheet">
  <link href="{% static 'vendor/boxicons/css/boxicons.min.css'%}" rel="stylesheet">
  <link href="{% static 'vendor/quill/quill.snow.css'%}" rel="stylesheet">
  <link href="{% static 'vendor/quill/quill.bubble.css'%}" rel="stylesheet">
  <link href="{% static 'vendor/remixicon/remixicon.css'%}" rel="stylesheet">
  <link href="{% static 'vendor/simple-datatables/style.css'%}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin - v2.5.0
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="{% url 'index'%}" class="logo d-flex align-items-center">
        <img src="{% static 'img/logo.png' %}" alt="">
        <span class="d-none d-lg-block">Manoeuvre</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

  

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">   

        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img src="{% static 'img/profile-img.jpg'%}" alt="Profile" class="rounded-circle">
            <span class="d-none d-md-block dropdown-toggle ps-2">K. Anderson</span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
                <h6>Kevin Anderson</h6>               
              </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="#">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="{% url 'index'%}">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="{% url 'registration' 'ITManager'%}">
          <i class="bi bi-grid"></i>
          <span>All Registration</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Event Registration</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'itmanager'%}" class="ITQregistrationBtn" style="cursor: pointer;">
              <i class="bi bi-circle"></i><span>IT Manager</span>
            </a>
          </li>  
          <li>
            <a class="ITQregistrationBtn" style="cursor: pointer;">
              <i class="bi bi-circle"></i><span>IT Quiz</span>
            </a>
          </li>
          <li>
            <a class="HackregistrationBtn" style="cursor: pointer;">
              <i class="bi bi-circle"></i><span>Hackathon</span>
            </a>
          </li>  
          <li>
            <a class="registrationBtn" style="cursor: pointer;">
              <i class="bi bi-circle"></i><span>Coding</span>
            </a>
          </li>  
          <li>
            <a class="registrationBtn" style="cursor: pointer;">
              <i class="bi bi-circle"></i><span>Treasure Hunt</span>
            </a>
          </li>  
          <li>
            <a class="registrationBtn" style="cursor: pointer;">
              <i class="bi bi-circle"></i><span>Gaming</span>
            </a>
          </li>  
          <li>
            <a class="registrationBtn" style="cursor: pointer;">
              <i class="bi bi-circle"></i><span>Short Film</span>
            </a>
          </li>  
          <li>
            <a class="webregistrationBtn" style="cursor: pointer;">
              <i class="bi bi-circle"></i><span>Web Designing</span>
            </a>
          </li>            
        </ul>
      </li>
    
    </ul>

  </aside><!-- End Sidebar-->

  <!-- Toast Message -->
  
  <!-- Registration modal -->
  <div class="modal fade" id="registrationModal">
  <div id="snackbar">Event registration Successful.</div>
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Event Registration</h4>
          <button type="button" class="closeModal">&times;</button>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
          <!-- Registration form or content here -->
          <form method="post" id="registrationForm">
            {% csrf_token %}
            <div class="form-group">
              <label for="event-name">Event Name</label>
              <select class="form-control" id="event-name" name="event_name">

                <option value="coding" selected mincount="4">Coding & Debugging</option>
                <option value="itmanager" mincount="1">IT Manager</option>
                <option value="itquiz" mincount="2" group>IT Quiz</option>
                <option value="webdesign" mincount="2" group>Web Designing</option>
                <option value="hackathon" mincount="2" group>Hackathon</option>
                <option value="shortfilm" mincount="10">Short Film</option>
                <option value="gaming" mincount="4" group>Gaming</option>
                <option value="treasurehunt" mincount="6" group>Treasure Hunt</option>

              </select>
            </div>
            <hr />
            <div class="participant-container">
              <h5 class="text-secondary text-center">Participant Details</h5>
              <div class="totalparticipant mt-3">

                <!-- hidden participant detail template for cloning -->
                <div class="participant-details-template" style="display: none;">
                  <div class="form-group details">
                    <!-- Name and register number of participant -->
                    <input type="text" name="team_name" class="form-control participant-name" id="sampleid" placeholder="Participant 1 Name">
                    <input type="text" class="form-control register-number" id="sample" placeholder="Register Number">
                  </div>
                </div>

                <h5 class="isgroup" style="display: none;"></h5>
                
                <div class="participant-details">
                  <!-- Participant details will be added here -->
                </div>

              </div>
  
              <div class="text-center">
                <button class="btn add-participant" id="add-participant">Add Participant</button>
              </div>
              
            </div>
            <div class="text-center mb-0" id="registerBtn">
              <button type="submit" class="register-event btn btn-primary px-5" id="register-event">Register</button>
            </div>
          </form>
        </div>
        <!-- Modal footer -->
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Register</button>
        </div> -->
      </div>
    </div>
  </div>
  

  <main id="main" class="main">
    {% block content %}
    
    {% endblock %}
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>Kristu Jayanti College</span></strong>. All Rights Reserved  
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
      Designed by <a href="">SDC</a>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
<!-- bootstap 4 for crispy forms -->
<!-- Include Bootstrap 4 CSS from a CDN (recommended) -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/css/bootstrap.min.css">

<!-- bootstap 5 -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js"></script>
  <!-- Your other head content here -->


  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/apexcharts/apexcharts.min.js'%}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
  <script src="{% static 'vendor/chart.js/chart.umd.js'%}"></script>
  <script src="{% static 'vendor/echarts/echarts.min.js'%}"></script>
  <script src="{% static 'vendor/quill/quill.min.js'%}"></script>
  <script src="{% static 'vendor/simple-datatables/simple-datatables.js'%}"></script>
  <script src="{% static 'vendor/tinymce/tinymce.min.js'%}"></script>
  <script src="{% static 'vendor/php-email-form/validate.js'%}"></script>

  
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'js/main.js'%}"></script>

  <!-- <script>

  </script> -->

</body>

</html> 