{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static%}
{% block content %}

<section class="section dashboard">
    <div class="row">

      <!-- Left side columns -->
      <div class="col-lg-12">
        <div class="row">

                   <div class="col-xxl-6 col-md-4">
                  
                    <div class="card info-card sales-card">                     
      
                        <a href="{% url 'registration' 'ITManager' %}">
                            <div class="card-body">
                        <h5 class="card-title">IT Manager <span>| Registered</span></h5>
      
                        <div class="d-flex align-items-center">
                          <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-file-person"></i>
                          </div>
                          <div class="ps-3">
                            <h6>8</h6>      
                          </div>
                        </div>      
                      </div></a>
      
                    </div>
                  </div>

                 <div class="col-xxl-6 col-md-4">
                  
                    <div class="card info-card revenue-card">    
                        <a href="{% url 'registration' 'ITQuiz' %}"> 
                      <div class="card-body">
                        <h5 class="card-title">IT Quiz <span>|  Registered</span></h5>
      
                        <div class="d-flex align-items-center">
                          <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-app-indicator"></i>
                          </div>
                          <div class="ps-3">
                            <h6>13</h6>
                           
      
                          </div>
                        </div>
                      </div></a>
      
                    </div>
                  </div>
                   <div class="col-xxl-6 col-md-4">
                    <div class="card info-card sales-card">                     
                        <a href="{% url 'registration' 'Gaming' %}"> 
                      <div class="card-body">
                        <h5 class="card-title">Gaming <span>| Registered</span></h5>
      
                        <div class="d-flex align-items-center">
                          <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-controller"></i>
                          </div>
                          <div class="ps-3">
                            <h6>15</h6>      
                          </div>
                        </div>
                      </div></a>
      
                    </div>
                  </div>

                 
          
        </div>

        <div class="row">

                   <div class="col-xxl-6 col-md-4">
                    <div class="card info-card sales-card">                     
                        <a href="{% url 'registration' 'Hackathon' %}"> 
                      <div class="card-body">
                        <h5 class="card-title">Hackathon <span>| Registered</span></h5>
      
                        <div class="d-flex align-items-center">
                          <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-people-fill"></i>
                          </div>
                          <div class="ps-3">
                            <h6>4</h6>      
                          </div>
                        </div>
                      </div></a>
      
                    </div>
                  </div>

                  <div class="col-xxl-6 col-md-4">
                    <div class="card info-card revenue-card">    
                        <a href="{% url 'registration' 'TreasureHunt' %}">  
                      <div class="card-body">                        
                        <h5 class="card-title">Treasure Hunt <span>| Registered</span></h5>
      
                        <div class="d-flex align-items-center">
                          <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-piggy-bank"></i>
                          </div>
                          <div class="ps-3">
                            <h6>7</h6>
                           
      
                          </div>
                        </div>
                      </div></a>
      
                    </div>
                  </div>
                   <div class="col-xxl-6 col-md-4">
                    <div class="card info-card sales-card">                     
                        <a href="{% url 'registration' 'webdesign' %}"> 
                      <div class="card-body">
                        <h5 class="card-title">Web Designing <span>| Registered</span></h5>
      
                        <div class="d-flex align-items-center">
                          <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-code-slash"></i>
                          </div>
                          <div class="ps-3">
                            <h6>6</h6>      
                          </div>
                        </div>
                      </div></a>
      
                    </div>
                  </div>

                 
          
        </div>
        <div class="row">

                   <div class="col-xxl-6 col-md-4">
                    <div class="card info-card sales-card">                     
                        <a href="{% url 'registration' 'coding' %}"> 
                      <div class="card-body">
                        <h5 class="card-title">Coding <span>| Registered</span></h5>
      
                        <div class="d-flex align-items-center">
                          <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-filetype-java"></i>
                          </div>
                          <div class="ps-3">
                            <h6>145</h6>      
                          </div>
                        </div>
                      </div></a>
      
                    </div>
                  </div>

                  <div class="col-xxl-6 col-md-4">
                    <div class="card info-card revenue-card"> 
                        <a href="{% url 'registration' 'Shortfilm' %}">     
                      <div class="card-body">
                        <h5 class="card-title">Short Film <span>| Registered</span></h5>
      
                        <div class="d-flex align-items-center">
                          <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-camera-reels-fill"></i>
                          </div>
                          <div class="ps-3">
                            <h6>6</h6>
                           
      
                          </div>
                        </div>
                      </div></a>
      
                    </div>
                  </div>
                

                 
          
        </div>
    </div>
</div>
</section>
{% endblock %}