{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static%}
{% block content %}

<section class="section dashboard">
    <div class="row">

      <!-- Left side columns -->
      <div class="col-lg-12">
        <div class="row">

          <!-- Sales Card -->
          {% for choice in  event_choices %}
            <div class="col-xxl-6 col-md-4">
                <div class="card info-card sales-card">

                
                    
                    <a href="">
                        <div class="card-body">
                    <h5 class="card-title">{{ choice }}<span>| Registered</span></h5>

                    <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="bi bi-cart"></i>
                    </div>
                    <div class="ps-3">
                        <h6>12</h6>
                    

                    </div>
                    </div>
                </div></a>

                    
                   

                </div>
            </div>
          
          {% endfor %}

          
   
          
        </div>
    </div>
</div>
</section>
{% endblock %}